*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: fit-content;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: black 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell:first-of-type,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-of-type(3n + 1) {
  border-left: none;
}
.cell:nth-of-type(3n + 3) {
  border-right: none;
}

.cell:nth-of-type(7),
.cell:nth-of-type(8),
.cell:nth-of-type(9) {
  border-bottom: none;
}

.cell.x::before,
.cell.x::after {
  content: " ";
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background-color: black;
  position: absolute;
}

.cell.x::before {
  transform: rotate(45deg);
}
.cell.x::after {
  transform: rotate(135deg);
}

.cell.circle::before {
  content: "";
  width: calc(var(--mark-size) * 0.9);
  height: calc(var(--mark-size) * 0.9);
  border-radius: 50%;
  background-color: black;
  position: absolute;
}

.cell.circle::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.6);
  height: calc(var(--mark-size) * 0.6);
  border-radius: 60%;
  background-color: white;
}
